<ul class="navbar-nav me-auto mb-2 mb-xl-0">
  <% if params[:action] == "shop" && params[:controller] == "products" %>
    <h1 style="color: white">Tienda ChauMosquitardo</h1>
  <% else %>
    <li class="nav-item">
      <%= link_to t('activerecord.models.brands'), brands_url, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to t('activerecord.models.product_types'), product_types_url, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to t('activerecord.models.stocks'), stocks_url, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to t('activerecord.models.products'), products_url, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to t('activerecord.models.purchases'), purchases_url, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to t('activerecord.models.orders'), orders_url, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to t('activerecord.models.carts'), carts_url, class: "nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to 'shop', shop_url, class: "nav-link active" %>
    </li>
  <% end %>
</ul>
