<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cart_id %>
    <%= form.collection_select :cart_id, Cart.all, :id, :description %>
  </div>

  <div class="field">
    <%= form.label :deliver_option %>
    <select name="order[deliver_option]">
          <option disabled selected value style="display:none"><%= order.deliver_option %></option>
          <option value="Envío a domicilio">Env&iacute;o a domicilio</option>
          <option value="Retirar en el local">Retirar en el local</option>
        </select>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
