<p id="notice"><%= notice %></p>

<p>
  <strong>Cart:</strong>
  <%= @order.cart_id %>
</p>

<p>
  <strong>Deliver option:</strong>
  <%= @order.deliver_option %>
</p>

<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
